<app-header></app-header>

<div class="main-container">
  <div class="main-container-sideBar">
  <mat-drawer-container class="main-container-sideBar-content" [hasBackdrop]="false">
    <mat-drawer #drawer mode="push">
      <div>
        <button mat-raised-button [routerLink]="['/cadastro']" routerLinkActive="active" > Cadastro Clientes </button>
        <button mat-raised-button [routerLink]="['/cadastro_lite']" routerLinkActive="active" > Cadastro Clientes Lite </button>

      </div>

      <mat-list>
        <mat-list-item>
          <button mat-icon-button class="filter-icon" aria-label="Example icon-button with share icon">
            <mat-icon>filter_list</mat-icon>
            <span>Wifi</span>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button class="clear_all-icon" aria-label="Example icon-button with share icon">
          <mat-icon>clear_all</mat-icon>  
          <span>Limpar Filtros</span>
        </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button class="flag-icon" aria-label="Example icon-button with share icon">
          <mat-icon>flag</mat-icon>  
          <span>Status</span>          
        </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button class="stacks-icon" aria-label="Example icon-button with share icon">
          <mat-icon>stacks</mat-icon>  
          <span>Atributos</span>
        </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button class="manage_search-icon" aria-label="Example icon-button with share icon">
          <mat-icon>manage_search</mat-icon>  
          <span>Meus Filtros</span>
        </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button class="cake-icon" aria-label="Example icon-button with share icon">
          <mat-icon>cake</mat-icon>  
          <span>Aniversário do Mês</span>
        </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button class="arrow-icon" aria-label="Example icon-button with share icon">
          <mat-icon>arrow_forward</mat-icon>  
          <span>Exportar</span>
        </button>
        </mat-list-item>
       </mat-list>

      
    </mat-drawer>
    <mat-drawer-content>
      <div class="main-container-content-midBar">
                
        <div class="sort">
          <button  (click)="drawer.toggle()" mat-icon-button class="sort-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>sort</mat-icon>
          </button>
          <div class="clientes">
            <span> Clientes</span>
              <p>4 clientes</p>
          </div>
        </div>
        
        <div class="search">            
            <button mat-icon-button class=" search-icon" aria-label="Example icon-button with heart icon">
              <mat-icon>search</mat-icon>
            </button>
            <input matInput placeholder="Placeholder">
            <button  (click)="drawer.toggle()" mat-icon-button class=" list-icon" aria-label="Example icon-button with heart icon">
              <mat-icon>list</mat-icon>
            </button>
        </div>

      </div>
      <mat-divider></mat-divider>

      <ul>
        <li>
            <div class="main-container-content-buttonsServices">
              <h1> Botões de Teste de Serviço </h1>
              <button mat-raised-button  (click)="getCuss()"> Utilizando Services Customers </button>
              <button mat-raised-button  (click)="getCus(1)"> Utilizando Services Customer </button>
              <button mat-raised-button  (click)="getJo()"> Utilizando Services Joke </button>
              <button mat-raised-button  (click)="getJokeCategories()"> Utilizadno Joke Categorys </button>
            </div>
        </li>
            
            
        <li>
          <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">            
            <!-- Position Column -->
            <ng-container matColumnDef="CheckBox">
              <th mat-header-cell *matHeaderCellDef>
              
                <mat-checkbox class="example-margin"
                [checked]="allComplete"
                [indeterminate]="someComplete()"
                (change)="setAll($event.checked)">
                </mat-checkbox> 
                  
                </th>
              <td mat-cell *matCellDef="let element"> 
                
                <mat-checkbox [checked]="element.completed"
                            (change)="updateAllComplete()">
              </mat-checkbox>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>voicemail</mat-icon>
                  <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </mat-menu>
              
              </td>
            </ng-container>
    
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> 
                <span> Conta </span>
                <div>
                  {{element.name}}
                </div>
    
                <p> </p>
                
                <span> Loja </span>
                <div>
                  {{element.name}}
                </div>
    
                  <p> </p>
    
                <span> Agente </span>
                <div>
                  {{element.name}}
                </div>
              </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Weight </th>
              <td mat-cell *matCellDef="let element">
                
                <span> Criação </span>
                <div>
                  {{element.weight}}
                </div>
                <p>
                  15/07/2024: 00:13
                </p>
    
                
                
              </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Symbol </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>
    
            <!-- Symbol Completed -->
            <ng-container matColumnDef="completed">
                <th mat-header-cell *matHeaderCellDef> Completed </th>
                <td mat-cell *matCellDef="let element"> {{element.completed}} </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </li>

      </ul>
      
    </mat-drawer-content>
  </mat-drawer-container>
</div>
