<div class="header-container">
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Coraban 360</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class=" search-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button class="call-icon" aria-label="Example icon-button with share icon">
          <mat-icon>call</mat-icon>
        </button>
        <button mat-icon-button class="wifi-icon" aria-label="Example icon-button with share icon">
          <mat-icon>wifi</mat-icon>
        </button>
        <button mat-icon-button class="notifications-icon" aria-label="Example icon-button with share icon">
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button class="event-icon" aria-label="Example icon-button with share icon">
          <mat-icon>event</mat-icon>
        </button>
        <button mat-icon-button class="person-icon" aria-label="Example icon-button with share icon">
          <mat-icon>person</mat-icon>
        </button>
        
      </mat-toolbar>
</div>